<div class="flex min-h-screen bg-[#F5FAF3] text-white overflow-x-hidden">
  <app-sidebar class="hidden md:flex w-64 h-screen fixed left-0 top-0 shrink-0 z-20"></app-sidebar>

  <main class="flex-1 flex flex-col min-w-0 ml-0 md:ml-64 transition-all duration-300">
    <header
      class="md:hidden flex h-16 border-b border-white/5 items-center justify-between px-6 bg-[#F5FAF3] sticky top-0 z-30"
    >
      <button
        (click)="toggleMobileMenu()"
        type="button"
        aria-label="Toggle Button"
        class="p-2 text-green-500 hover:text-green-400 active:scale-95 transition-transform"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="26"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="3" y1="6" x2="21" y2="6" />
          <line x1="3" y1="12" x2="21" y2="12" />
          <line x1="3" y1="18" x2="21" y2="18" />
        </svg>
      </button>
    </header>
    <div class="p-4 md:p-10 lg:p-14">
      <router-outlet></router-outlet>
    </div>
  </main>

  @if (isMobileMenuOpen) {
    <div class="fixed inset-0 z-100 md:hidden">
      <div
        class="absolute inset-0 bg-black/80 backdrop-blur-sm animate-in fade-in duration-300"
        (click)="toggleMobileMenu()"
      ></div>

      <div
        class="absolute inset-y-0 left-0 w-72 bg-white shadow-2xl animate-in slide-in-from-left duration-300 border-r border-white/5"
      >
        <button
          (click)="toggleMobileMenu()"
          type="button"
          aria-label="Close menu"
          class="absolute top-4 right-4 z-50 text-green-500 hover:text-green-400 active:scale-95 transition-transform p-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="18" y1="6" x2="6" y2="18" />
            <line x1="6" y1="6" x2="18" y2="18" />
          </svg>
        </button>
        <app-sidebar class="w-full h-full"></app-sidebar>
      </div>
    </div>
  }
</div>
