/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
/* Add this at the very top of your styles.css */
@import "leaflet/dist/leaflet.css";

#map {
  height: 600px;
  width: 100%;
  z-index: 1;
}

* {
  user-select: none;   /*  only stops text selection */
}

input, textarea, [data-selectable] {
  user-select: text;   /* re-enables text selection on inputs */
}
